.portfolio {
    &__cards {
        animation-duration: 3s;
        animation-name: sliden;
    }

    @keyframes sliden {
        from {
            margin-left: 100%;
            width: 100%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }
}