.portfolio {
    &__ball {
        top: -32px;
        left: 40%;
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 50%;
        background-color: $primary-color;
    }

    &__cards {
        text-align: center;
        background-color: $background-cards;
        border-radius: 8px;
        padding: 0.9rem;
        margin-top: 5rem;
        transition: all .3s ease;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 0 2px $primary-color;
        }
    }

    &__image {
        position: absolute;
        top: 10px;
        left: 11px;
    }
}

.social-medias {
    &__ball {
        @extend .portfolio__ball;
    }

    &__cards {
        @extend .portfolio__cards;
    }
}