.portfolio {
    &__cards-ball {
        background-color: $primary-color;
        border-radius: 50%;
        height: 60px;
        left: 40%;
        position: relative;
        top: -32px;
        width: 60px;
    }

    &__cards-card {
        background-color: $background-cards;
        border-radius: 8px;
        margin-top: 2rem;
        padding: 0.9rem;
        text-align: center;
        transition: all .3s ease;

        &:hover {
            box-shadow: 0 0 0 2px $primary-color;
            transform: scale(1.02);
        }

        @include for-desktop {
            width: 20%;
        }
    }

    &__cards-image {
        left: 11px;
        position: absolute;
        top: 10px;
    }

    &__cards {
        @include for-tablet {
            padding-left: 10rem;
            padding-right: 10rem
        }

        @include for-desktop {
            display: flex;
            justify-content: space-around;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.social-medias {
    &__cards-ball {
        @extend .portfolio__cards-ball;

        @include for-desktop {
            left: 39%
        }
    }

    &__cards-card {
        @extend .portfolio__cards-card;

        @include for-desktop {
            width: 25%;
        }
    }

    &__cards {
        @include for-tablet {
            padding-left: 10rem;
            padding-right: 10rem
        }
        
        @include for-desktop {
            display: flex;
            justify-content: center;
        }
    }
}