$background: #151515;
$background-cards: #2C2C2C;
$primary-color: #6B0AB0;
$second-color: #FFFFFF;

@mixin for-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: 1200px) { 
        @content;
    }
}