@import 'variables-mixins';
@import 'typography';
@import 'cards';
@import 'grid';
@import 'animation';

body {
    background-color: $background;
    margin: 1rem;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
}

.footer {
    text-align: center;
    font-size: 0.7rem;
    color: $second-color;
    margin-top: 2rem;

    &__span {
        color: $primary-color;
    }
}