@import 'variables-mixins';
@import 'typography';
@import 'cards';
@import 'grid';

body {
    background-color: $background;
    margin: 1rem;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
}