@import 'normalize';
@import 'variables-mixins';
@import 'typography';
@import 'cards';
@import 'grid';

body {
    background-color: $background;
    font-family: 'Tomorrow', sans-serif;
    margin: 1rem;
    padding: 0;
}

.footer {
    color: $second-color;
    font-size: 0.7rem;
    margin-top: 2rem;
    text-align: center;

    &__span {
        color: $primary-color;
    }
}