.links {
    width: 20%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.links a {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    color: var(--bg);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 9px;
}

.links a:first-child {
    background: var(--link-github);
}

.links a:nth-child(2n){
    background: var(--link-linkedin);
} 

.links a:last-child {
    background: var(--link-medium);
}