html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: grid; 
    align-items: center;
    justify-items: center;

    --bg: #FFFFFF;
    --color-text: #FFFFFF;
    --color-text-principal: #0A59CF;
    --link-github: #24292E;
    --link-linkedin: #4373AA;
    --link-medium: #272727;
    --toggle-bg: #000000;
}

body {
    background-color: var(--bg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}